  <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Dashboard
            <small>Overview</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-6 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <p><%= usercnt %> entries</p>
                  <h3>User Table</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-person-stalker"></i>
                </div>
                <a href="/usermanage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-6 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <p><%= beaconcnt %> entries</p>
                  <h3>Beacon Table</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="/beaconmanage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
           <div class="col-lg-6 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <p><%= roomcnt %> entries</p>
                  <h3>Room Table</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-social-buffer"></i>
                </div>
                <a href="/roommanage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
           <div class="col-lg-6 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <p><%= roomrequestscnt %> entries</p>
                  <h3>Room Requests Table</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-social-buffer"></i>
                </div>
                <a href="/roomrequestsmanage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
           <div class="col-lg-6 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-fuchsia">
                <div class="inner">
                  <p><%= bookcnt %> entries</p>
                  <h3>Book Table</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-ios-book"></i>
                </div>
                <a href="/bookmanage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
           <div class="col-lg-6 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-purple">
                <div class="inner">
                  <p><%= bookrequestscnt %> entries</p>
                  <h3>Book Requests Table</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-ios-book"></i>
                </div>
                <a href="/bookrequestsmanage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
           <div class="col-lg-6 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-olive">
                <div class="inner">
                  <p><%= alertscnt %> entries</p>
                  <h3>Alerts Table</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-alert-circled"></i>
                </div>
                <a href="/alertsmanage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
           <div class="col-lg-6 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-lime">
                <div class="inner">
                  <p>20 entries</p>
                  <h3>Global APIs</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-android-share-alt"></i>
                </div>
                <a href="/globalapis" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
           <div class="col-lg-6 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-light-blue">
                <div class="inner">
                  <p>14 entries</p>
                  <h3>Local APIs</h3>
                </div>
                <div class="icon">
                  <i class="ion ion-android-share-alt"></i>
                </div>
                <a href="/localapis" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
          <!-- Main row -->
		</section>
  </div>